.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    background-color: white;
    border-radius: 2rem;
    &__bg-pattern {
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    &__img {
        border-radius: 50%;
        border: .7rem solid white;
        // dodo sam taj margin ne znam jel treba ili ne 
    }
    &__body {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: -6.3rem;
    }
    &__name {
        // display: inline;
        font-size: 2rem;
        flex-grow: 1;
        margin-top: 1.2rem;
    }
    &__age {
        // display: inline;
        font-weight: 400;
        color: $dark-grayish-blue;
        font-size: 1.9rem;
        margin-left: 1rem;
    }
    &__city {
        display: block;
        color: $dark-gray;
        flex: 0 0 100%;
        font-size: 1.5rem;
        margin-bottom: 2.4rem;
    }
    &__footer {
        display: flex;
        width: 100%;
        justify-content: space-around;
        border-top: 1px solid #e2e6f7;
    }
}

.footer__column {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: 2rem 0;
}

.column {
    &__value {
        color: black;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__type {
        color: $dark-grayish-blue;
        font-size: 1.2rem;
    }
}