.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    background-color: white;
    border-radius: 2rem;
    z-index: 10;
    &__bg-pattern {
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        width: 33.5rem;
    }
    &__img {
        border-radius: 50%;
        border: .7rem solid white;
        // dodo sam taj margin ne znam jel treba ili ne 
    }
    &__body {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: -6.3rem;
    }
    &__name {
        // display: inline;
        font-size: 2rem;
        flex-grow: 1;
        margin-top: 1.2rem;
    }
    &__age {
        // display: inline;
        font-weight: 400;
        color: $dark-grayish-blue;
        font-size: 1.9rem;
        margin-left: 1rem;
    }
    &__city {
        display: block;
        color: $dark-gray;
        flex: 0 0 100%;
        font-size: 1.5rem;
        margin-bottom: 2.4rem;
    }
    &__footer {
        display: flex;
        width: 100%;
        justify-content: space-around;
        border-top: 1px solid #e2e6f7;
    }
}

.footer__column {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: 2rem 0;
}

.column {
    &__value {
        color: black;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__type {
        color: $dark-grayish-blue;
        font-size: 1rem;
    }
}

// pozadine
.background {
    &__top {
        width: 100vh;
        height: auto;
        position: absolute;
        top: -32%;
        left: -15%;
    }
    &__bottom {
        width: 100vh;
        height: auto;
        position: absolute;
        bottom: -26%;
        right: -16%;
    }
}

// ************************************ MEDIA QUERIES
// 1320px
@media (max-width: 1320px) {
    .background {
        &__size {
            width: 90vh;
        }
    }
}

@media (max-width: 1200px) {
    .background {
        &__size {
            width: 85vh;
        }
    }
}

@media (max-width: 1100px) {
    .background {
        &__size {
            width: 85vh;
        }
    }
}

@media (max-width: 950px) {
    .background {
        &__size {
            width: 75vh;
        }
    }
}

@media (max-width: 700px) {
    .background {
        &__size {
            width: 70vh;
        }
    }
}

@media (max-width: 600px) {
    .background {
        &__top {
            top: -25%;
            left: -80%;
        }
        &__bottom {
            bottom: -20%;
            right: -72%;
        }
    }
}

@media (max-width: 400px) {
    .background {
        &__size {
            width: 65rem;
        }
    }
    .card {
        &__bg-pattern {
            width: 30rem;
        }
    }
}

@media (max-width: 375px) {
    .background {
        &__size {
            width: 75vh;
        }
    }
}